@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* Internet Explorer Ùˆ Edge */
  scrollbar-width: none; /* Firefox */
}